* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background: var(--background-gradient);
    color: var(--text-color);
    min-height: 1000vh;
}

header {
    background: #ffffff;
    color: var(--primary-color);
    width: 100%;
    margin-top: 10px;
    text-align: center;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    font-size: 1.8rem;
    font-weight: bold;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    width: 100%;
    margin-top: 40px;
    /* max-width: 1400px; */
}

.card {
    background: var(--card-background);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    padding: 1.5rem;
    transition: transform var(--transition), box-shadow var(--transition);
}

.card:hover {
    transform: translateY(-2px);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
}

.card h2 {
    font-size: 1.5rem;
    color: var(--primary-color);
    margin-bottom: 1rem;
}

.leaderboard {
    list-style: none;
    padding: 0;
}

.leaderboard li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin-bottom: 0.5rem;
    border-radius: var(--border-radius);
    background: var(--highlight-color);
}

.leaderboard li span {
    font-weight: bold;
}

.history-table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

.history-table th,
.history-table td {
    padding: 1rem;
    border-bottom: 1px solid #ddd;
}

.history-table th {
    background: var(--primary-color);
    color: #fff;
}

.history-table tr:hover {
    background: var(--highlight-color);
}


/* Responsive Design */

@media screen and (max-width: 900px) {
    .container {
        grid-template-columns: 1fr;
    }
}